<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Add Word</title>
  <!-- Add Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <!-- Add your custom CSS -->
  <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="container">
  <h1>Add Word</h1>
  <form action="#" th:action="@{/words}" method="post" class="form-group">
    <input type="text" name="name" placeholder="Word" class="form-control" />
    <input type="text" name="definition" placeholder="Definition" class="form-control" />
    <input type="text" name="example" placeholder="Example" class="form-control" />
    <input type="password" name="password" placeholder="Password" class="form-control" />
    <input type="submit" value="Add" class="btn btn-primary" />
  </form>
  <a th:href="@{/}" class="btn btn-secondary">Back to Words</a>
</div>
</body>
</html>
