<!DOCTYPE html>
<html id="editWordHtml" xmlns:th="http://www.thymeleaf.org">
<head id="editWordHead">
    <title id="editWordTitle">Edit Word</title>
    <!-- Add Bootstrap CSS -->
    <link id="editWordBootstrapLink" rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- Add your custom CSS -->
    <link id="editWordCustomLink" rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body id="editWordBody">
<div id="editWordContainer" class="container">
    <h1 id="editWordHeading">Edit Word</h1>
    <form id="editWordForm" action="#" th:action="@{/edit}" method="post" class="form-group">
        <input type="hidden" name="id" th:value="${word.id}" id="${'editWordInputId-' + word.id}" />
        <input type="text" name="name" th:value="${word.name}" placeholder="Word" class="form-control" id="${'editWordInputName-' + word.id}" />
        <input type="text" name="definition" th:value="${word.definition}" placeholder="Definition" class="form-control" id="${'editWordInputDefinition-' + word.id}" />
        <input type="text" name="example" th:value="${word.example}" placeholder="Example" class="form-control" id="${'editWordInputExample-' + word.id}" />
        <input type="password" name="password" placeholder="Password" class="form-control" id="${'editWordInputPassword-' + word.id}" />
        <input type="submit" value="Update" class="btn btn-primary" id="${'editWordSubmit-' + word.id}" />
    </form>
    <a th:href="@{/words}" class="btn btn-secondary" id="${'editWordBackButton-' + word.id}">Back to Words</a>
</div>
</body>
</html>
