<!DOCTYPE html>
<html id="searchResultsHtml" xmlns:th="http://www.thymeleaf.org">
<head id="searchResultsHead">
    <title id="searchResultsTitle">Search Results</title>
    <!-- Add Bootstrap CSS -->
    <link id="searchResultsBootstrapLink" rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- Add your custom CSS -->
    <link id="searchResultsCustomLink" rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body id="searchResultsBody">
<div id="searchResultsContainer" class="container">
    <h1 id="searchResultsHeading">Search Results</h1>
    <table id="searchResultsTable" class="table">
        <thead id="searchResultsTableHead">
        <tr id="searchResultsTableHeadRow">
            <th id="searchResultsTableHeadWord">Word</th>
            <th id="searchResultsTableHeadDefinition">Definition</th>
            <th id="searchResultsTableHeadExample">Example</th>
        </tr>
        </thead>
        <tbody id="searchResultsTableBody">
        <tr th:each="word : ${words}" th:id="${'searchResultsRow-' + word.id}">
            <td th:id="${'searchResultsWord-' + word.id}" th:text="${word.name}"></td>
            <td th:id="${'searchResultsDefinition-' + word.id}" th:text="${word.definition}"></td>
            <td th:id="${'searchResultsExample-' + word.id}" th:text="${word.example}"></td>
        </tr>
        </tbody>
    </table>
    <a id="searchResultsBackButton" href="/" class="btn btn-primary">Back to Words</a>
</div>
</body>
</html>
